@import url(index.html);

/*globals*/
:root {
    --main-panelColor:#141E61;
}

html {
    color: white;
    font-family: Arial;
}

body{
    background-color: white;
}

/*banner*/
.banner {
    background-color: var(--main-panelColor);
    overflow: hidden;
}

.banner header {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 200;
}

/*.banner a {*/
/*    position: absolute;*/
/*    right: 15px;*/
/*    top: 15px;*/
/*}*/

.about_button a {
    position: absolute;
    right: 15px;
    top: 15px;
}

.sources_button {
    position: absolute;
    right: 150px;
    top: 15px;
}

.banner button{
    width: 100px;
    height: 40px;
}

/*leaflet visualizer*/
.container {
    height: 200px;
}

.settings_visualizer_holder {
    display: flex;
    align-self: stretch;
    height: 75vh;
    text-align: center;
    vertical-align: middle;
}

.settings_visualizer_holder div { /*actual visualizer*/
    background-color: var(--main-panelColor);
    width: 75%;
    margin-right: 50px;
}

.settings_visualizer_holder section { /*settings*/
    background-color: var(--main-panelColor);
    width: 25%;
    text-align: center;
}

/*charts header*/
.charts_header {
    text-align: center;
    /*background-color: var(--main-panelColor);*/
}

.charts_container {
    display: block;
}

.charts {
    width: 33%;
    display: flex;
    align-items: center;
}

/*charts*/
/*.charts_container {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/

/*    position: relative;*/
/*}*/

/*.charts {*/
/*    position: absolute;*/
/*    width: 33%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.charts_two {*/
/*    position: absolute;*/
/*    width: 33%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.charts_header {
    background-color: var(--main-panelColor);
}

/*.charts canvas {*/
/*    align-items: center;*/
/*}*/








/*charts two*/
/*.charts_container_two {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/

/*    position: relative;*/
/*}*/



/*.visualizer {*/
/*    !*margin: auto;*!*/
/*    !*width: 60%;*!*/
/*    !*background-color: #415a77;*!*/
/*    !*padding: 10px;*!*/
/*    !*height: 520px;*!*/

/*    !*position: relative;*!*/
/*}*/

/*.visualizer h1 {*/
/*    color: white;*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin-top: -9px;*/
/*}*/

/*.datetime {*/
/*    position: absolute;*/
/*    bottom: 8px;*/
/*    right: 8px;*/
/*}*/

/*.datetime button {*/
/*    width: 100px;*/
/*    height: 40px;*/
/*}*/


/*.charts {*/
/*    margin: auto;*/
/*    width: 60%;*/

/*    padding: 10px;*/
/*    height: 520px;*/

/*    align-items: center;*/
/*    position: relative;*/
/*}*/

/*.visualizer canvas {*/
/*    color: white;*/
/*    text-align: left;*/
/*    position: absolute;*/
/*    width: 25%;*/
/*    height: 18%;*/
/*    !*top: 50%;*!*/
/*    !*left: 0;*!*/
/*    !*right: 0;*!*/
/*    margin-top: -9px;*/
/*}*/


